body {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

.toparea {
    background: #D5B455;
}

.toparea1 {
    text-align: center;
    padding: 10px 0;
}

.toparea1 a {
    text-decoration: none;
    color: black;
}

.toparea2 button {
    background: #800000;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0px 10px;
}

.toparea2 button:hover {
    background-color: #D5B455;
    color: #800000;
    border: none;
}

.logoarea {
    background: black;
    text-align: center;
}

.logoarea img {
    width: 65%;
    border-radius: 100%;
}

.logowithtext {
    color: #D5B455;
}

.logowithtext h3 {
    padding-top: 20px;

}


.navbar {
    background-color: #000 !important;
    padding-top: 30px !important;
}

.navbar .nav-link {
    color: #D5B455 !important;
    margin: 0 !important;
}

.navbar .nav-link:hover {
    background-color: #D5B455 !important;
    /* Hover pe golden */
    color: black !important;
    border-radius: 10px !important;
}

.navbar .dropdown-menu {
    background-color: #D5B455;
}

.navbar .dropdown-item {
    background: black;
    color: #fff;
}

.navbar .dropdown-item:hover {
    background-color: #D5B455;
    color: black;
    border-radius: 10px;
}

.welcomearea1 {
    margin: 50px 0;
    text-align: center;
}

.welcometext1 h1 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #D5B455;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.welcometext2 p {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    line-height: 30px;

}

.welcomearea2 {
    padding-bottom: 30px;
    border-bottom: solid 1px black;
}

.welcomearea2 img {
    width: 100%;
    border-radius: 20px;
}

.welcomearea2 p {
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}

.welcomearea2 p:first-child {
    font-weight: bold;
    line-height: 27px;
}

.segmentarea {
    margin: 30px 0;
}

.segmentlogo {
    text-align: center;
}

.segmentarea h2 {
    font-family: monospace;
    font-size: 35px;
    color: rgb(33, 37, 41);
    margin: 0;
    text-shadow: -1px 6px 9px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

.segmentarea img {
    margin-bottom: 30px;
}

.segmentarea2 {
    background: url('bg2.webp');
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
}

.box1 {
    border-radius: 15px;
    background-color: rgb(196, 9, 9);
    opacity: 90%;
    padding: 15px;
    height: 250px;
    margin-bottom: 15px;

}

.box1 h3 {
    color: white;
    font-size: 20px;
    border-bottom: dotted white 1px;

}

.box1 p {
    color: white;
    text-align: justify;
    line-height: 25px;
    overflow: hidden;
}

.box2 {
    border-radius: 15px;
    background-color: #0189a7;
    opacity: 90%;
    padding: 15px;
    height: 250px;
    margin-bottom: 15px;

}

.box2 h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-bottom: dotted white 1px;

}

.box2 p {
    color: white;
    text-align: justify;
    line-height: 25px;
    overflow: hidden;
}

.box3 {
    border-radius: 15px;
    background-color: #D95421;
    opacity: 90%;
    padding: 15px;
    height: 250px;
    margin-bottom: 15px;
}

.box3 h3 {
    color: white;
    font-size: 20px;
    margin: 0;
    border-bottom: dotted white 1px;

}

.box3 p {
    color: white;
    text-align: justify;
    line-height: 25px;
    overflow: hidden;
}

.weddingarea {
    text-align: center;
    margin: 30px 0;
}

.weddingarea h3 {
    font-family: monospace;
    font-size: 35px;
    color: rgb(33, 37, 41);
    margin: 0;
    text-shadow: -1px 6px 9px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

.weddingarea img {
    margin-bottom: 30px;
}

.weddingarea2 img {
    width: 100%;
}

.planarea {
    margin: 50px 0;
}

.planimage img {
    width: 100%;
    border-radius: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.planarea1 img {
    width: 100%;
    border-radius: 50%;
    height: 300px;
    margin-bottom: 20px;
}


.planarea2 {
    padding: 50px 0;
    border: solid 3px #d5b455;
    text-align: center;
    border: solid 3px #d5b455;
    padding-bottom: 30px;

}

.planarea2 h2 {
    text-align: center;
    font-family: monospace;
    font-size: 35px;
    margin: 20px 0;
}

.planarea2 p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.planarea2 img {
    width: 100%;
    border-radius: 0%;
    margin-bottom: 22px;
}

.planarea2 a:link,
.planarea2 a:visited {
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    background: #800000;
}

.btn a:hover {
    background: #E1D0A1;
    color: black;
}



.venue-area {
    background: #ECECEC;
    text-align: center;
    padding: 50px 0;
}


.venue-area a:link,
.venue-area a:visited {
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    background: #800000;
}

.buttn {
    margin: 50px 0;
}

.buttn a:hover {
    background: #E1D0A1;
    color: black;

}

.venue-card {
    justify-content: center;
}

.venue-card-box {
    background: #fff;
    height: 370px;
    text-align: center;
    border: white solid 5px;
    margin-bottom: 20px;
    border-radius: 20px;
}


.venue-card-box img {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
}

.venue-card h3 {
    padding: 10px 0;
}

.button a:hover {
    background: #E1D0A1;
    color: black;

}

.corporate-area {
    padding: 50px 0 30px 0;
}

.text-logo {
    text-align: center;
}

.text-logo h2 {
    font-family: monospace;
    font-size: 35px;
    color: rgb(33, 37, 41);
    margin: 0;
    text-shadow: -1px 6px 9px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

.text-logo img {
    margin-bottom: 30px;
}

.offer-area {
    justify-content: center;
    margin-bottom: 60px;
}


.corporate-red {
    background: url(redbackground.webp);
    padding: 10px 0;
    color: white;
    border-radius: 20px;
}

.offer-box p {
    text-align: center;
    font-size: 25px;
    border-bottom: dotted white 2px;
}

.offer-box ul {
    list-style: none;
}

.offer-box ul li {
    margin-bottom: 15px;
}

.offer-box ul li .fa {
    padding: 2px 7px;
    border-radius: 50%;
    background-color: #670002;
}

.specialarea {
    background: url('footerbg.webp');
    padding: 50px 0;
}

.firstrow {
    justify-content: center;
}

.boxes {
    border: dotted rgba(255, 255, 255, 0.37) 1px;
    background: rgba(255, 255, 255, 0.11);
    padding: 15px 15px 0px 15px;
    margin-bottom: 20px;
    text-align: center;
    color: white;

}

.boxes:hover {
    background: none;
}


.boxes h3 {
    margin: 0 auto;
    padding: 7px 0 7px 0px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1px;
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 20px;
}

.boxes p {
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}


.footerarea {
    background: black;
    padding: 30px 0;
}

.footer_details_head h2 {
    font-size: 25px;
    color: #D5B455;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#footer_about_us_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 18px;
}


.footer_address_box {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}



.footer_address_box p a {
    text-decoration: none;
    color: white;
}

.footer_address_box b {
    color: #D5B455;
    font-size: 25px;

}

.footer_address_box p:hover {
    color: #D5B455;
}

.footer_address_box p a:hover {
    color: #D5B455;
}

.footer_address_box h2 {
    color: #D5B455;
}

.footer_box_list ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none;
}

.footer_box_list ul li {
    color: white;
    padding-bottom: 10px;
    transition: all 1s;
}

.footer_box_list ul li:hover {
    color: #D5B455;
    transform: translate(10px, 0);

}

.footer_box_list ul li:first-child {
    padding-top: 20px;
}

.footer_box_list ul i {
    color: #D5B455;
}


.lastfooter {
    background: #2B2626;
    padding: 10px 0;
}

.footer_developer_name_box p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



@media screen and (max-width:768px) {

    .box1,
    .box2,
    .box3 {
        height: 375px;
    }

    .corporate-red {
        margin-bottom: 20px;
    }
}